* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header */
header {
  text-align: center;
  padding: 40px 20px;
  background-color: #333;
  color: white;
  font-size: x-large;
}

header p {
  font-family: "Times New Roman";
  text-decoration: underline;
  color: orange;
}

header h1 {
  color: orange;
}

/* Sections */
section {
  padding: 40px 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Image Showcase */
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.image-box {
  height: 500px;
}

/* Contact Section */
.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #999;
}

.contact textarea {
  height: 100px;
}

.contact button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  font-size: 14px;
}

/* About Page */
.about {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about p {
  margin-bottom: 20px;
}

/* Contact Page */
.contact-page {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.contact-page form {
  max-width: 500px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
